$app-color: #FF7A64;

.input-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group {
  width: 480px;
  justify-content: center;
}

#api-input {
  border: 3px solid lightgray;
  border-inline-end-width: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0.25em 1em;
}

#api-input:focus, #go-button:focus-visible {
  outline: 0px;
  outline-offset: 0px;
}

#go-button {
  background-color: transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 3px;
  border: 3px solid $app-color;
  color: $app-color;
  margin-left: 0;
  padding: 0.25em 1em;
}

#go-button:hover {
  background-color: $app-color;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#go-button:focus-visible {    
  box-shadow: 0 1px 2px rgba(21, 112, 239, .05), 0 0 0 4px #f9d9d2;
}

.logo-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.8;
}

.charts-container {

}

.overview-container {
  padding: 5px;
  text-align: center;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: lightcyan;
  z-index: 10;
  display: flex;
  // justify-content: space-between;
  height: 80px;
  min-width: 600px;
}

.search-box {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: right;
  width: 500px;
}


// * {
//   border: 2px solid orange;
// }