$app-color: #FF7A64;

.input-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group {
  width: 480px;
}

#api-input {
  border-color: 'lightgray';
  border-Width: '3px';
  border-inline-end-width: '0px';
  border-inline-end-color: $app-color;
}

#go-button {
  background-color: transparent;
  border-radius: 5px;
  border: 3px solid $app-color;
  color: $app-color;
  margin: 0 1em;
  padding: 0.25em 1em;
}

#go-button :hover {
  background-color: $app-color;
  color: white;
  cursor: pointer;
}

.logo-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.8;
}